---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon?limit=22&offset=-22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"68-u8YeWBuI/JD+lfco14roZgpQLws"
      Function-Execution-Id:
      - n38zqhe1dlqb
      X-Cloud-Trace-Context:
      - 3f0c9adb77f868eff5fa27166d6e4e07
      X-Country-Code:
      - BR
    body:
      encoding: ASCII-8BIT
      string: '{"count":1050,"next":"https://pokeapi.co/api/v2/pokemon?offset=0&limit=22","previous":null,"results":[]}'
  recorded_at: Mon, 16 Nov 2020 15:09:26 GMT
recorded_with: VCR 6.0.0
